/*CSS Geral para o SITE*/
.color-marrom-navbar{
  background-color: #554A26!important;
}
.color-marrom-escuro-fixedBtn{
  background-color: #591B1B!important;
}
.color-rosa-footer{
  background-color: #FBE5A0!important;
}
.color-azulEsverdeado{
  background-color: #2E554E!important;
}
.transparencia-azul{
  background-color: #2E554E4d!important;
}
.texto-azul-escuro{
  color: #10438f;
 }
.texto-roxo{
  color: #60008F;
}
.texto-vermelho-amarronzado{
  color: #c11802;
}
.texto-amarelo-logo{
  color: #DDD693!important;
}
.transparencia-marrom{
  background-color: rgba(85, 74, 38, 0.45) !important;
}
.transparencia-marromzão{
  background-color: #591b1bcc!important;
}
.texto-marrom-escuro{
  color: #332D17!important;
}
.texto-marrrom-escuro-semHover{
  color: #332D17!important;
}
.texto-marrom-escuro-hover{
  color: #733A3A!important;
}
.texto-vermelho-footer{
  color: #e11100!important;
}
.texto-cinza-claro{
  color: #676767!important;
}
.texto-marrom-escuro:hover{
  color: #733A3A!important;
}
.texto-marrom-claro{
  color: #554A26!important;
}
.fw-400{
  font-weight: 400!important;
}
.fw-500{
  font-weight: 500!important;
}
.fw-600{
  font-weight: 600!important;
}
.size-1rem{
  font-size: 1rem!important;
}
.size-12rem{
  font-size: 1.2rem!important;
}
.size-15rem{
  font-size: 1.5rem!important;
}
.size-16rem{
  font-size: 1.6rem!important;
}
.size-2rem{
  font-size: 2rem!important;
}
.size-25rem{
  font-size: 2.5rem!important;
}
.size-3rem{
  font-size: 3rem!important;
}
.size-35rem{
  font-size: 3.5rem!important;
}
.size-4rem{
  font-size: 4rem!important;
}
.size-5rem{
  font-size: 5rem!important;
}
.size-9rem{
  font-size: 9rem!important;
}
.size-19px{
  font-size: 19px!important;
}
.btn-azul{
  background-color: #1D5273!important;
}
.btn-roxo{
  background-color: #60008F!important;
  color: #FFFFFF!important;
}
.subtitle-cor{
  color: #00101b!important;
}
.btn-outline-marrom {
  border: 3px solid #554A26!important;
  background-color: transparent!important;
  color: #554A26!important;
  font-weight: 600!important;
  font-size: .9rem !important;
}
.btn-outline-azulEsverdeado {
  border: 3px solid #2E554E!important;
  background-color: transparent!important;
  color: #2E554E!important;
  font-weight: 600!important;
  font-size: .9rem;
}
.btn-outline-vermelho{
  border: 3px solid #591B1B!important;
  background-color: transparent!important;
  color: #591B1B!important;
  font-weight: 600!important;
  font-size: .9rem !important;
}
.btn-outline-vermelho-claro{
  border: 3px solid #733a3a!important;
  background-color: transparent!important;
  color: #733a3a!important;
  font-weight: 600!important;
  font-size: .9rem !important;
}
.btn-outline-azul{
  border: 3px solid #2E554E!important;
  background-color: transparent!important;
  color: #2E554E!important;
  font-weight: 600!important;
  font-size: .9rem !important;
}
.form-control{
  color: #000000;
}
.form-control:focus{
  color: #000000;
}
label:not(.active){
  color: #000000!important;
}
@media (min-width: 425px){
  .btn-wrapper{
    padding: 3% 25% 3% 25%;
  }
}
main{
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 370px) {
  .titulo-intro{
    font-size: 2.5rem!important;
  }
  .text-intro {
    font-size: .9rem!important;
  }
}
/*Modal Fluid Custom*/
@media (max-width: 425px) {
  .modal-dialog.cascading-modal{
    margin-top: 15% !important;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .modal-dialog.cascading-modal{
    margin-top: 11% !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .modal-dialog.cascading-modal{
    margin-top: 7% !important;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .modal-dialog.cascading-modal{
    margin-top: 5% !important;
  }
}
@media (min-width: 1026px) and (max-width: 1920px) {
  .modal-dialog.cascading-modal{
    margin-top: 4% !important;
  }
}
@media (min-width: 1921px){
  .modal-dialog.cascading-modal{
    margin-top: 3% !important;
  }
}
/*Carousel Custom*/
.carousel-thumbnails-custom .carousel-indicators{
  margin-bottom: -70px;
}
.carousel-thumbnails-custom .carousel-indicators img{
  height: 50px;
}
.carousel-control-prev-customPosition{
  left: -15px;
  width: min-content;
}
.carousel-control-next-customPosition{
  right: -15px;
  width: min-content;
}
/*Home-Banners*/
.bg-banner-1{
  background-image: url('../assets/banner-1-home.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-banner-2{
  background-image: url('../assets/banner-2-home.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.bg-banner-3{
  background-image: url('../assets/banner-3-home.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (orientation: portrait) {
  .bg-banner-1{
    background-image: url('../assets/banner-1-home-cell.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .bg-banner-2{
    background-image: url('../assets/banner-2-home-cell.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .bg-banner-3{
    background-image: url('../assets/banner-3-home-cell.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
/*Galeria-Banners*/
.bg-banner-galeria-1{
  background-image: url('../assets/banner-1-galeria.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (orientation: portrait) {
  .bg-banner-galeria-1{
    background-image: url('../assets/banner-1-galeria-sm.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}
@media (min-width: 1200px){
  .titulos{
    font-size: 200%;
  }
  .container{
    max-width: 1460px!important;
  }
}
/*Navbar Animation*/
.top-nav-collapse{
  background-color: #554A26!important;
}
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.animated-icon1 span {
  background: #e65100;
}
.animated-icon2 span {
  background: #e3f2fd;
}
.animated-icon3 span {
  background: #f3e5f5;
}
.animated-icon1 span:nth-child(1) {
  top: 0;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.animated-icon2 span:nth-child(1) {
  top: 0;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}
.animated-icon2 span:nth-child(4) {
  top: 20px;
}
.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0;
  left: 50%;
}
.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0;
  left: 50%;
}
.animated-icon3 span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}
.animated-icon3.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/*Cores*/
.verde-fluorescente{
  color: #b1f843!important;
}
.verde-claro{
  color: #b6d374;
}
.verde-medio{
  color: #9cca33!important;
}
.verde-escuro{
  color: #2d3a12;
}
.roxo-claro{
  color: #3B1A37;
}
.roxo-escuro{
  color: #331630;
}
.text-muted-custom {
  color: #99a2ab!important;
}
.cinza-claro{
  color: #bdbdbd!important;
}
.bg-verde-claro{
  background-color: #90ba38!important;
}
/*Utilidades*/
.border-3px{
  border: 3px solid #dee2e6;
}
.disabled{
  display: none!important;
}
.hideSection{
  display: none;
}
.btn-outline-verde{
  border: 2px solid #2d3a12!important;
  color: #2d3a12!important;
  background-color: transparent!important;
}
.btn-outline-verde-claro{
  border: 2px solid #0dfa60!important;
  color: #0dfa60!important;
  background-color: transparent!important;
}
.btn-gradient-amarelo{
  background: linear-gradient(50deg,#d17a07,#b03f2dcc);
  /*background: linear-gradient(50deg,#A74626DB,#EFCC6ACF);*/
}
.btn-gradient-amarelo-reverse{
  background: linear-gradient(50deg,#b03f2dcc,#d17a07)
}
.btn-gradient-amarelo-claro{
  background: linear-gradient(150deg,#b03f2dcc,#ff9800d6);
  /*background: linear-gradient(140deg,#EFCC6ACF,#FF9800D6);*/
}
.btn-gradient-azul{
  background: linear-gradient(50deg,#55006b,#355ec3de);
  /*background: linear-gradient(140deg,#EFCC6ACF,#FF9800D6);*/
}
.btn-gradient-azul-claro{
  background: linear-gradient(140deg,#355ec3de,#55006b);
  /*background: linear-gradient(140deg,#EFCC6ACF,#FF9800D6);*/
}
.gradient-roxo-btnWhatsapp{
  background: linear-gradient(362deg,#55006b9e,#355ec391);
}
.gradient-roxo-btnTelefone{
  background: linear-gradient(-182deg,#355ec391,#55006b9e);
}
.gradient-roxo-btnEmail{
  background: linear-gradient(-188deg,#355ec391,#55006b9e);
}
.btn-gradient-azul:hover{
  color: #000;
  font-weight: 600;
}
.btn-gradient-azul-claro:hover{
  color: #000;
  font-weight: 600;
}
.gradient-roxo-btnWhatsapp:hover{
  color: #000;
  font-weight: 600;
}
.gradient-roxo-btnTelefone:hover{
  color: #000;
  font-weight: 600;
}
.gradient-roxo-btnEmail:hover{
  color: #000;
  font-weight: 600;
}
.transparencia-roxa{
  background-color: rgba(61, 33, 64, 0.25);
  z-index: -1;
}
.transparencia-roxa-clara{
  background-color: #55006b26;
}
.transparencia-preta{
  background-color: #00000080;
}
.transparencia-azul{
  background-color: rgba(52, 59, 113, 0.25);
}
.transparencia-gradiente-verdeRoxo{
  background: linear-gradient(40deg,#66ab00a3,#712eadc7);
}
/*SOLICITAR ORÇAMENTO*/
body#body-solicitarOrcamento{
  height: 100%;
}
.content-solicitarOrcamento {
  position: inherit;
  bottom: 0;
  width: 100%;
  padding: 20px;
}
.fix-flexCenter-height{
  min-height: 100%;
  height: initial!important;
}
/* Remove chrome autofil background color */
@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
.md-form>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
.md-form  >input[type=date]:not(.browser-default)+label,
.md-form  >input[type=time]:not(.browser-default)+label {
  transform: translateY(-25px);
  transform-origin: 0 0;
  font-size: .8rem;
}
.input-fix label.active {
  transform: translateY(-100%) !important;
}
.textarea-fix label.active{
  transform: translateY(-30%) !important;
}